In [432]:
import pandas as pd
import polars as pl
import numpy as np

In [433]:
import polars.selectors as cs
import re
from datetime import date

# Informações preliminares

Com base nos relatórios PEDE de 2020, 2021 e 2022, os principais indicadores e índices utilizados para avaliar o impacto da ONG Passos Mágicos são:

1. IDA (Índice de Desenvolvimento Acadêmico):
- Composto por notas de Matemática, Português e Inglês
- Varia de 0 a 10
- Mede o desempenho acadêmico geral do estudante
- Importante para acompanhar a evolução do aprendizado ao longo do tempo

2. IEG (Índice de Engajamento):
- Avalia o envolvimento do estudante com as atividades da ONG
- Varia de 0 a 10 
- Importante para medir a participação e motivação do aluno

3. IAA (Índice de Assiduidade e Adesão):
- Mede a frequência e participação nas atividades
- Varia de 0 a 10
- Importante para avaliar o comprometimento do estudante

4. IAN (Índice de Adequação de Nível):
- Avalia se o estudante está na fase/série adequada para sua idade
- Varia de 2.5 (defasagem severa) a 10 (adequado)
- Importante para identificar defasagens idade-série

5. IPS (Índice Psicossocial):
- Avalia aspectos familiares, emocionais e comportamentais
- Varia de 0 a 10
- Importante para acompanhar o desenvolvimento socioemocional

6. IPP (Índice de Potencial e Protagonismo):
- Avalia o potencial acadêmico e protagonismo do estudante
- Varia de 0 a 10
- Importante para identificar talentos e lideranças

7. IPV (Índice de Presença Virtual):
- Mede a participação em atividades remotas (adicionado em 2020)
- Varia de 0 a 10
- Importante no contexto da pandemia

8. INDE (Índice de Desenvolvimento Educacional):
- Índice composto que integra todos os demais
- Varia de 0 a 10
- Fornece uma visão geral do desenvolvimento do estudante

Esses indicadores permitem uma avaliação multidimensional do progresso de cada estudante, abrangendo aspectos acadêmicos, comportamentais e socioemocionais. A análise da evolução desses índices ao longo dos anos possibilita identificar o impacto das ações da ONG na vida dos estudantes atendidos.

As pedras conceito e a jornada são elementos adicionais importantes no sistema de avaliação da ONG Passos Mágicos. Vou explicá-los e depois abordar as relações entre todos esses elementos:

## Pedras Conceito:
As pedras conceito são classificações atribuídas aos estudantes com base em seu desempenho geral, principalmente no INDE. Existem quatro níveis, do mais alto para o mais baixo:

1. Topázio
2. Ametista
3. Ágata
4. Quartzo

Conforme o relatório PEDE 2022 (p. 71), as faixas aproximadas de INDE para cada pedra conceito são:

- Topázio: INDE de 8,2
- Ametista: INDE de 7,0
- Ágata: INDE de 5,2
- Quartzo: INDE de 3,1

## Jornada:
A jornada refere-se à evolução do estudante entre as pedras conceito ao longo do tempo. Existem três tipos de jornada:

1. Avanço: O estudante progride para uma pedra conceito superior
2. Neutra: O estudante permanece na mesma pedra conceito
3. Recuo: O estudante retrocede para uma pedra conceito inferior

## Relações entre os índices, indicadores, pedras conceito e jornada:

1. INDE como integrador:
   O INDE é o índice mais abrangente, incorporando todos os outros índices (IDA, IEG, IAA, IAN, IPS, IPP, IPV). Portanto, ele tem uma forte relação com a determinação da pedra conceito do estudante.

2. IDA e desempenho acadêmico:
   O IDA tem um peso significativo no INDE e, consequentemente, na determinação da pedra conceito. Melhorias no IDA geralmente levam a avanços na jornada.

3. IEG e IAA como indicadores de engajamento:
   Estes índices refletem o envolvimento do estudante com o programa. Altos valores de IEG e IAA geralmente estão associados a pedras conceito mais elevadas e jornadas de avanço.

4. IAN e progressão escolar:
   O IAN influencia o INDE e pode impactar a pedra conceito. Estudantes com menor defasagem idade-série tendem a ter pedras conceito mais elevadas.

5. IPS e IPP como indicadores de desenvolvimento integral:
   Estes índices capturam aspectos socioemocionais e de potencial, contribuindo para uma visão mais holística do desenvolvimento do estudante. Melhorias nestes índices podem refletir em avanços na jornada.

6. IPV e adaptação à pandemia:
   Introduzido em 2020, o IPV tornou-se um componente importante do INDE, afetando potencialmente a pedra conceito e a jornada do estudante durante o período de ensino remoto.

7. Jornada como métrica de progresso:
   A jornada serve como um indicador de longo prazo do impacto do programa, mostrando como os estudantes evoluem entre as pedras conceito ao longo do tempo.

8. Interrelações complexas:
   É importante notar que todos esses índices estão interrelacionados. Por exemplo, um aumento no IDA pode levar a um aumento no IEG (maior engajamento devido ao sucesso acadêmico), que por sua vez pode impactar positivamente o IPS e o IPP.

Em resumo, este sistema de avaliação multifacetado permite uma visão abrangente do desenvolvimento de cada estudante, com o INDE e as pedras conceito fornecendo uma síntese geral, enquanto os índices individuais e a jornada oferecem insights mais detalhados sobre áreas específicas de progresso ou necessidade de atenção.

## Comparação de Desempenho: Estudantes Bolsistas vs. Escola Pública (IDA e IEG)

Os relatórios do PEDE fornecem dados para comparar o desempenho de estudantes bolsistas e da escola pública nos indicadores IDA (Índice de Desempenho Acadêmico) e IEG (Índice de Engajamento Geral). Abaixo, uma análise comparativa baseada nas informações disponíveis:

**IDA (Índice de Desempenho Acadêmico):**

* **Em 2022**: 
    * **Bolsistas:** Média IDA de 7,1, representando um aumento de 16% em relação a 2021 e 32% em relação a 2020.
    * **Escola Pública:** Média IDA de 5,9, uma queda de 3,3% em relação a 2021.
* **Evolução ao longo dos anos:** Os dados de 2020 a 2022 mostram que os bolsistas, em geral, apresentaram um crescimento mais consistente no IDA em comparação aos alunos da escola pública.
* **Desagregando por disciplinas:** 
    * **Matemática:** Bolsistas tiveram uma média de 6,7 em 2022, enquanto alunos da escola pública tiveram 5,7.
    * **Português:** A média dos bolsistas foi 6,9, e a da escola pública 6,2.
    * **Inglês:**  Bolsistas alcançaram 7,8, enquanto alunos da escola pública ficaram com 5,0.
* **Impacto da Defasagem:**  
    * Alunos bolsistas com defasagem severa apresentaram IDA de 4,4 em 2022.
    * Alunos da escola pública com defasagem severa tiveram IDA médio de 2,9 em 2020 e 3,4 em 2022.

**IEG (Índice de Engajamento Geral):**

* **Dados agregados:**  Os relatórios não apresentam a média do IEG separada para bolsistas e escola pública, dificultando uma comparação direta.
* **Inferências:**
    * **Influência na nota do INDE:**  Tanto o IDA quanto o IEG têm grande influência na nota do INDE, representando 67% e 64%, respectivamente.
    * **Considerando o IDA:** Como os bolsistas demonstraram melhor desempenho no IDA, que compõe o INDE, podemos inferir que **eles tendem a ter um IEG igual ou superior ao da escola pública**.

**Pontos importantes a considerar:**

* **Tamanho da amostra:** O número de bolsistas na amostra é consideravelmente menor que o de alunos da escola pública, o que pode influenciar as médias e comparações.
* **Fatores externos:** O desempenho escolar é influenciado por diversos fatores além dos medidos pelo PEDE, como contexto socioeconômico, apoio familiar e acesso a recursos educacionais.
* **Falta de informações detalhadas:** A ausência de dados específicos sobre o cálculo do IEG e a falta de médias separadas para bolsistas e escola pública limitam a análise comparativa.

**Em suma:** Os dados do PEDE sugerem que os estudantes bolsistas tendem a apresentar melhor desempenho acadêmico (IDA) em comparação aos alunos da escola pública, especialmente em inglês. No entanto, a falta de informações detalhadas sobre o IEG impede uma análise comparativa precisa nesse indicador. É crucial considerar o tamanho da amostra e os fatores contextuais que podem influenciar o desempenho dos estudantes.

# Carrega a base simples

In [434]:
df = pd.read_csv("data/PEDE_PASSOS_DATASET_FIAP.csv", sep=";")
# checa se o arquivo foi carregado inteiro
assert len(df.index) > 1000

In [435]:
df_orig = df.copy()

In [436]:
print(df_orig.isnull().sum())

INSTITUICAO_ENSINO_ALUNO_2020    621
NOME                               0
IDADE_ALUNO_2020                 621
ANOS_PM_2020                     621
FASE_TURMA_2020                  621
                                ...
INDICADO_BOLSA_2022              487
PONTO_VIRADA_2022                487
IPV_2022                         487
IAN_2022                         487
NIVEL_IDEAL_2022                 487
Length: 69, dtype: int64

## Corrige tipos e uniformiza dados categóricos

Nem todas as colunas foram convertidas para categorias por conta da grande quantidade de valores nulos.

In [437]:
# List of performance indicator columns
performance_columns = [
    "INDE_2020",
    "IAA_2020",
    "IEG_2020",
    "IPS_2020",
    "IDA_2020",
    "IPP_2020",
    "IPV_2020",
    "IAN_2020",
    "INDE_2021",
    "IAA_2021",
    "IEG_2021",
    "IPS_2021",
    "IDA_2021",
    "IPP_2021",
    "IPV_2021",
    "INDE_2022",
    "IAA_2022",
    "IEG_2022",
    "IPS_2022",
    "IDA_2022",
    "IPP_2022",
    "IPV_2022",
]

# Convert each performance indicator column to numeric
for col in performance_columns:
    df[col] = pd.to_numeric(df[col], errors="coerce")

# Display the data types to confirm conversion
print(df[performance_columns].dtypes)

INDE_2020    float64
IAA_2020     float64
IEG_2020     float64
IPS_2020     float64
IDA_2020     float64
IPP_2020     float64
IPV_2020     float64
IAN_2020     float64
INDE_2021    float64
IAA_2021     float64
IEG_2021     float64
IPS_2021     float64
IDA_2021     float64
IPP_2021     float64
IPV_2021     float64
INDE_2022    float64
IAA_2022     float64
IEG_2022     float64
IPS_2022     float64
IDA_2022     float64
IPP_2022     float64
IPV_2022     float64
dtype: object

In [438]:
# Identify columns that start with "ANOS_"
anos_columns = [col for col in df.columns if col.startswith("ANO")]

# Convert these columns to integers
for col in anos_columns:
    df[col] = pd.to_numeric(df[col], errors="coerce").astype("Int64")

# Display the data types to confirm conversion
print(df[anos_columns].dtypes)

ANOS_PM_2020         Int64
ANO_INGRESSO_2022    Int64
dtype: object

In [439]:
# Identify columns that start with 'PONTO_VIRADA'
ponto_virada_columns = [col for col in df.columns if col.startswith("PONTO_VIRADA")]

# Convert 'Não' to 0, 'Sim' to 1, and others to NaN
for col in ponto_virada_columns:
    df[col] = df[col].map({"Não": 0, "Sim": 1}).astype("Int64")
    df[col] = pd.Categorical(df[col])

# Display the data types and first few rows to confirm conversion
print(df[ponto_virada_columns].head())
print(df[ponto_virada_columns].dtypes)

  PONTO_VIRADA_2020 PONTO_VIRADA_2021 PONTO_VIRADA_2022
0                 0                 0               NaN
1               NaN               NaN                 0
2                 0                 0               NaN
3                 0               NaN                 0
4                 0                 0                 0
PONTO_VIRADA_2020    category
PONTO_VIRADA_2021    category
PONTO_VIRADA_2022    category
dtype: object

In [440]:
idade_aluno_columns = [col for col in df.columns if col.startswith("IDADE_ALUNO")]

for col in idade_aluno_columns:
    df[col] = pd.to_numeric(df[col], errors="coerce").astype("Int64")


# Display the data types and first few rows to confirm conversion
print(df[idade_aluno_columns].head())
print(df[idade_aluno_columns].dtypes)

   IDADE_ALUNO_2020
0                11
1              <NA>
2                12
3                10
4                10
IDADE_ALUNO_2020    Int64
dtype: object

In [441]:
# drop line where INDE_CONCEITO_2020  equals non-sense data
df.drop(index=df[df["INDE_CONCEITO_2020"] == "D9891/2"].index[0], inplace=True)

In [442]:
rec_equipe_columns = [col for col in df.columns if col.startswith("REC_EQUIPE")]

categories = (
    pd.concat([df[col] for col in rec_equipe_columns], axis=0).unique().tolist()
)

categories.remove(np.nan)
categories

['Promovido de Fase',
 'Promovido de Fase + Bolsa',
 'Não avaliado',
 'Mantido na Fase atual',
 'Mantido na Fase + Bolsa',
 'Alocado em Fase anterior']

In [443]:
for col in rec_equipe_columns:
    df[col] = df[col].replace(np.nan, None)
    df[col] = pd.Categorical(df[col], categories=categories, ordered=False)

# Display the data types and first few rows to confirm conversion
print(df[rec_equipe_columns].head())
print(df[rec_equipe_columns].dtypes)

   REC_EQUIPE_1_2021      REC_EQUIPE_2_2021      REC_EQUIPE_3_2021  \
0  Promovido de Fase      Promovido de Fase  Mantido na Fase atual
1                NaN                    NaN                    NaN
2  Promovido de Fase      Promovido de Fase  Mantido na Fase atual
3                NaN                    NaN                    NaN
4  Promovido de Fase  Mantido na Fase atual  Mantido na Fase atual

  REC_EQUIPE_4_2021
0      Não avaliado
1               NaN
2      Não avaliado
3               NaN
4      Não avaliado
REC_EQUIPE_1_2021    category
REC_EQUIPE_2_2021    category
REC_EQUIPE_3_2021    category
REC_EQUIPE_4_2021    category
dtype: object

In [444]:
instituicao_ensino_columns = [
    col for col in df.columns if col.startswith("INSTITUICAO_ENSINO")
]

for col in instituicao_ensino_columns:
    categories = df[col].fillna("").unique().tolist()
    df[col] = pd.Categorical(df[col], categories=categories, ordered=False)

# # Display the data types and first few rows to confirm conversion
print(df[instituicao_ensino_columns].head())
print(df[instituicao_ensino_columns].dtypes)

  INSTITUICAO_ENSINO_ALUNO_2020 INSTITUICAO_ENSINO_ALUNO_2021
0                Escola Pública                  Rede Decisão
1                           NaN                           NaN
2                Escola Pública                Escola Pública
3                Escola Pública                           NaN
4                Escola Pública                Escola Pública
INSTITUICAO_ENSINO_ALUNO_2020    category
INSTITUICAO_ENSINO_ALUNO_2021    category
dtype: object

In [445]:
df["IDADE_ALUNO_2020"] = df["IDADE_ALUNO_2020"].astype("Int64")

In [446]:
# cria as colunas fase e turma para análise mais segmentada
df["FASE_2020"] = df["FASE_TURMA_2020"].str.get(0).astype("Int64")
df["TURMA_2020"] = df["FASE_TURMA_2020"].str.get(1)
df.drop(columns=["FASE_TURMA_2020"], inplace=True)

In [447]:
df["INDE_CONCEITO_2020"] = pd.Categorical(df["INDE_CONCEITO_2020"])

In [448]:
# seleciona as colunas que iniciam com PEDRA para transformar em categoria
pedra_columns = [col for col in df.columns if col.startswith("PEDRA")]

# transforma as colunas em categoria
df[pedra_columns] = df[pedra_columns].apply(lambda x: pd.Categorical(x))

df.head()

,INSTITUICAO_ENSINO_ALUNO_2020,NOME,IDADE_ALUNO_2020,ANOS_PM_2020,PONTO_VIRADA_2020,INDE_2020,INDE_CONCEITO_2020,PEDRA_2020,DESTAQUE_IEG_2020,DESTAQUE_IDA_2020,...,REC_AVA_2_2022,REC_AVA_3_2022,REC_AVA_4_2022,INDICADO_BOLSA_2022,PONTO_VIRADA_2022,IPV_2022,IAN_2022,NIVEL_IDEAL_2022,FASE_2020,TURMA_2020
0,Escola Pública,ALUNO-1,11,2,0,7.883752,B,Ametista,Seu destaque em 2020: A sua boa entrega das li...,Ponto a melhorar em 2021: Empenhar-se mais nas...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,H
1,NaN,ALUNO-2,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,...,Mantido na Fase atual,NaN,NaN,Sim,0,7.916665,5.0,Fase 2 (5º e 6º ano),<NA>,NaN
2,Escola Pública,ALUNO-3,12,2,0,7.856390,B,Ametista,Seu destaque em 2020: A sua boa entrega das li...,Ponto a melhorar em 2021: Empenhar-se mais nas...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,H
3,Escola Pública,ALUNO-4,10,2,0,5.076252,D,Quartzo,Ponto a melhorar em 2021: Melhorar a sua entre...,Ponto a melhorar em 2021: Empenhar-se mais nas...,...,Mantido na Fase atual,Promovido de Fase,NaN,Não,0,8.055553,5.0,Fase 3 (7º e 8º ano),1,D
4,Escola Pública,ALUNO-5,10,1,0,8.077085,B,Ametista,Seu destaque em 2020: A sua boa entrega das li...,Seu destaque em 2020: As suas boas notas na Pa...,...,Promovido de Fase,Mantido na Fase atual,NaN,Não,0,7.833337,5.0,Fase 3 (7º e 8º ano),2,M

In [449]:
# converte colunas DESTAQUE em str
destaque_columns = [col for col in df.columns if col.startswith("DESTAQUE")]

df[destaque_columns] = df[destaque_columns].astype("string")

In [450]:
# converte colunas TURMA em categoria
turma_columns = [col for col in df.columns if col.startswith("TURMA")]

df[turma_columns] = df[turma_columns].apply(lambda x: pd.Categorical(x))

df[turma_columns].head()

  TURMA_2021 TURMA_2022 TURMA_2020
0          G        NaN          H
1        NaN          K        NaN
2          F        NaN          H
3        NaN          J          D
4          L          L          M

In [451]:
# converte coluna sinalizador ingressante para categoria
df["SINALIZADOR_INGRESSANTE_2021"] = pd.Categorical(df["SINALIZADOR_INGRESSANTE_2021"])

In [452]:
nivel_ideal_columns = [col for col in df.columns if col.startswith("NIVEL_IDEAL")]
df[nivel_ideal_columns]

           NIVEL_IDEAL_2021      NIVEL_IDEAL_2022
0     Nível 3 (7o e 8o ano)                   NaN
1                       NaN  Fase 2 (5º e 6º ano)
2     Nível 3 (7o e 8o ano)                   NaN
3                       NaN  Fase 3 (7º e 8º ano)
4     Nível 2 (5o e 6o ano)  Fase 3 (7º e 8º ano)
...                     ...                   ...
1344       Nível 1 (4o ano)                   NaN
1345                    NaN       Fase 1 (4º ano)
1346                    NaN                   NaN
1347       Nível 4 (9o ano)        Fase 5 (1º EM)
1348                    NaN        Fase 5 (1º EM)

[1348 rows x 2 columns]

In [453]:
nivel_ideal_columns = [col for col in df.columns if col.startswith("NIVEL_IDEAL")]

for col in nivel_ideal_columns:
    colname = "FASE_IDEAL_" + col.split("_")[2]
    df[colname] = (
        df[col]
        .str.split("(", expand=True)
        .get(0)
        .map(lambda x: str(x).replace("Nível", "Fase"))
    )
    df[colname] = df[colname].map(lambda x: str(x) if not x == "nan" else None)

df.head()

,INSTITUICAO_ENSINO_ALUNO_2020,NOME,IDADE_ALUNO_2020,ANOS_PM_2020,PONTO_VIRADA_2020,INDE_2020,INDE_CONCEITO_2020,PEDRA_2020,DESTAQUE_IEG_2020,DESTAQUE_IDA_2020,...,REC_AVA_4_2022,INDICADO_BOLSA_2022,PONTO_VIRADA_2022,IPV_2022,IAN_2022,NIVEL_IDEAL_2022,FASE_2020,TURMA_2020,FASE_IDEAL_2021,FASE_IDEAL_2022
0,Escola Pública,ALUNO-1,11,2,0,7.883752,B,Ametista,Seu destaque em 2020: A sua boa entrega das li...,Ponto a melhorar em 2021: Empenhar-se mais nas...,...,NaN,NaN,NaN,NaN,NaN,NaN,2,H,Fase 3,None
1,NaN,ALUNO-2,<NA>,<NA>,NaN,NaN,NaN,NaN,<NA>,<NA>,...,NaN,Sim,0,7.916665,5.0,Fase 2 (5º e 6º ano),<NA>,NaN,None,Fase 2
2,Escola Pública,ALUNO-3,12,2,0,7.856390,B,Ametista,Seu destaque em 2020: A sua boa entrega das li...,Ponto a melhorar em 2021: Empenhar-se mais nas...,...,NaN,NaN,NaN,NaN,NaN,NaN,3,H,Fase 3,None
3,Escola Pública,ALUNO-4,10,2,0,5.076252,D,Quartzo,Ponto a melhorar em 2021: Melhorar a sua entre...,Ponto a melhorar em 2021: Empenhar-se mais nas...,...,NaN,Não,0,8.055553,5.0,Fase 3 (7º e 8º ano),1,D,None,Fase 3
4,Escola Pública,ALUNO-5,10,1,0,8.077085,B,Ametista,Seu destaque em 2020: A sua boa entrega das li...,Seu destaque em 2020: As suas boas notas na Pa...,...,NaN,Não,0,7.833337,5.0,Fase 3 (7º e 8º ano),2,M,Fase 2,Fase 3

In [454]:
# seleciona as colunas que iniciam com REC_AVA e transforma em categoria
rec_ava_columns = [
    col
    for col in df.columns
    if col.startswith("REC_AVA") or col.startswith("REC_EQUIPE")
]

df[rec_ava_columns] = df[rec_ava_columns].apply(lambda x: pd.Categorical(x))
df.rename(
    columns=dict(
        zip(
            rec_ava_columns,
            [
                c.replace("REC_EQUIPE", "REC_AVA")
                for c in df[rec_ava_columns].columns.to_list()
            ],
        )
    ),
    inplace=True,
)

In [455]:
df["BOLSISTA_2022"] = pd.Categorical(
    df["BOLSISTA_2022"].map({"Não": 0, "Sim": 1}).astype("Int64")
)
df["INDICADO_BOLSA_2022"] = pd.Categorical(
    df["INDICADO_BOLSA_2022"].map({"Não": 0, "Sim": 1}).astype("Int64")
)

In [456]:
object_columns = df.select_dtypes(include=["object"]).columns
print(list(object_columns))

['NOME', 'NIVEL_IDEAL_2021', 'NIVEL_IDEAL_2022', 'FASE_IDEAL_2021', 'FASE_IDEAL_2022']

In [457]:
fase_nivel_columns = [
    col for col in df.columns if col.startswith("FASE") or col.startswith("NIVEL")
]
df[fase_nivel_columns].head()

,FASE_2021,NIVEL_IDEAL_2021,FASE_2022,NIVEL_IDEAL_2022,FASE_2020,FASE_IDEAL_2021,FASE_IDEAL_2022
0,2.0,Nível 3 (7o e 8o ano),NaN,NaN,2,Fase 3,None
1,NaN,NaN,0.0,Fase 2 (5º e 6º ano),<NA>,None,Fase 2
2,3.0,Nível 3 (7o e 8o ano),NaN,NaN,3,Fase 3,None
3,NaN,NaN,2.0,Fase 3 (7º e 8º ano),1,None,Fase 3
4,2.0,Nível 2 (5o e 6o ano),2.0,Fase 3 (7º e 8º ano),2,Fase 2,Fase 3

In [458]:
df["FASE_2020"] = df["FASE_2020"].map(
    lambda x: "Fase " + str(int(x)) if not pd.isnull(x) else None
)

df["FASE_2021"] = df["FASE_2021"].map(
    lambda x: "Fase " + str(int(x)) if not pd.isnull(x) else None
)
df["FASE_2022"] = df["FASE_2022"].map(
    lambda x: "Fase " + str(int(x)) if not pd.isnull(x) else None
)
df[fase_nivel_columns].head()

,FASE_2021,NIVEL_IDEAL_2021,FASE_2022,NIVEL_IDEAL_2022,FASE_2020,FASE_IDEAL_2021,FASE_IDEAL_2022
0,Fase 2,Nível 3 (7o e 8o ano),None,NaN,Fase 2,Fase 3,None
1,None,NaN,Fase 0,Fase 2 (5º e 6º ano),None,None,Fase 2
2,Fase 3,Nível 3 (7o e 8o ano),None,NaN,Fase 3,Fase 3,None
3,None,NaN,Fase 2,Fase 3 (7º e 8º ano),Fase 1,None,Fase 3
4,Fase 2,Nível 2 (5o e 6o ano),Fase 2,Fase 3 (7º e 8º ano),Fase 2,Fase 2,Fase 3

In [459]:
df.drop(columns=["NIVEL_IDEAL_2021", "NIVEL_IDEAL_2022"], inplace=True)

In [460]:
fase_columns = [cols for cols in df.columns if cols.startswith("FASE")]
for c in fase_columns:
    print(c)
    print(df[c].unique())

FASE_2021
['Fase 2' None 'Fase 3' 'Fase 5' 'Fase 1' 'Fase 0' 'Fase 4' 'Fase 7'
 'Fase 6']
FASE_2022
[None 'Fase 0' 'Fase 2' 'Fase 1' 'Fase 5' 'Fase 4' 'Fase 3' 'Fase 7'
 'Fase 6']
FASE_2020
['Fase 2' None 'Fase 3' 'Fase 1' 'Fase 4' 'Fase 0' 'Fase 7' 'Fase 5'
 'Fase 6' 'Fase 8']
FASE_IDEAL_2021
['Fase 3 ' None 'Fase 2 ' 'Fase 5 ' 'Fase 1 ' 'Fase 4 ' 'Fase 8 '
 'Fase 6 ' 'ALFA  ' 'Fase 7 ' 'ERRO']
FASE_IDEAL_2022
[None 'Fase 2 ' 'Fase 3 ' 'Fase 6 ' 'ALFA  ' 'Fase 1 ' 'Fase 4 ' 'Fase 8 '
 'Fase 5 ' 'Fase 7 ']

In [461]:
for c in fase_columns:
    df[c] = df[c].map(
        lambda x: str.replace(x, "Fase 0", "ALFA") if not pd.isnull(x) else None
    )
    df[c] = df[c].replace("ERRO", None)
    df[c] = pd.Categorical(df[c])
    print(c)
    print(df[c].unique())

FASE_2021
['Fase 2', NaN, 'Fase 3', 'Fase 5', 'Fase 1', 'ALFA', 'Fase 4', 'Fase 7', 'Fase 6']
Categories (8, object): ['ALFA', 'Fase 1', 'Fase 2', 'Fase 3', 'Fase 4', 'Fase 5', 'Fase 6', 'Fase 7']
FASE_2022
[NaN, 'ALFA', 'Fase 2', 'Fase 1', 'Fase 5', 'Fase 4', 'Fase 3', 'Fase 7', 'Fase 6']
Categories (8, object): ['ALFA', 'Fase 1', 'Fase 2', 'Fase 3', 'Fase 4', 'Fase 5', 'Fase 6', 'Fase 7']
FASE_2020
['Fase 2', NaN, 'Fase 3', 'Fase 1', 'Fase 4', 'ALFA', 'Fase 7', 'Fase 5', 'Fase 6', 'Fase 8']
Categories (9, object): ['ALFA', 'Fase 1', 'Fase 2', 'Fase 3', ..., 'Fase 5', 'Fase 6', 'Fase 7', 'Fase 8']
FASE_IDEAL_2021
['Fase 3 ', NaN, 'Fase 2 ', 'Fase 5 ', 'Fase 1 ', 'Fase 4 ', 'Fase 8 ', 'Fase 6 ', 'ALFA  ', 'Fase 7 ']
Categories (9, object): ['ALFA  ', 'Fase 1 ', 'Fase 2 ', 'Fase 3 ', ..., 'Fase 5 ', 'Fase 6 ', 'Fase 7 ', 'Fase 8 ']
FASE_IDEAL_2022
[NaN, 'Fase 2 ', 'Fase 3 ', 'Fase 6 ', 'ALFA  ', 'Fase 1 ', 'Fase 4 ', 'Fase 8 ', 'Fase 5 ', 'Fase 7 ']
Categories (9, object): ['ALFA  ', 'Fase 1 ', 'Fase 2 ', 'Fase 3 ', ..., 'Fase 5 ', 'Fase 6 ', 'Fase 7 ', 'Fase 8 ']

In [462]:
df["QTD_AVAL_2022"] = df["QTD_AVAL_2022"].astype("Int64")

In [463]:
df["NOME"] = df["NOME"].astype("string[python]")

In [464]:
df.dtypes.value_counts()

float64           31
string[python]     7
category           5
category           5
Int64              4
category           2
category           2
category           2
category           2
category           1
category           1
category           1
category           1
category           1
category           1
category           1
category           1
category           1
category           1
Name: count, dtype: int64

In [465]:
t = [c for c in df.columns if df[c].dtypes == "Int64"]
assert t == [
    "IDADE_ALUNO_2020",
    "ANOS_PM_2020",
    "ANO_INGRESSO_2022",
    "QTD_AVAL_2022",
], print("colunas com tipo incorreto")

In [466]:
t = [c for c in df.columns if df[c].dtypes == "float64"]

assert t == [
    "INDE_2020",
    "IAA_2020",
    "IEG_2020",
    "IPS_2020",
    "IDA_2020",
    "IPP_2020",
    "IPV_2020",
    "IAN_2020",
    "INDE_2021",
    "IAA_2021",
    "IEG_2021",
    "IPS_2021",
    "IDA_2021",
    "IPP_2021",
    "IPV_2021",
    "IAN_2021",
    "DEFASAGEM_2021",
    "INDE_2022",
    "CG_2022",
    "CF_2022",
    "CT_2022",
    "IAA_2022",
    "IEG_2022",
    "IPS_2022",
    "IDA_2022",
    "NOTA_PORT_2022",
    "NOTA_MAT_2022",
    "NOTA_ING_2022",
    "IPP_2022",
    "IPV_2022",
    "IAN_2022",
], print("colunas com tipo incorreto")

In [467]:
t = [c for c in df.columns if df[c].dtypes == "category"]

assert t == [
    "INSTITUICAO_ENSINO_ALUNO_2020",
    "PONTO_VIRADA_2020",
    "INDE_CONCEITO_2020",
    "PEDRA_2020",
    "FASE_2021",
    "TURMA_2021",
    "INSTITUICAO_ENSINO_ALUNO_2021",
    "SINALIZADOR_INGRESSANTE_2021",
    "PEDRA_2021",
    "REC_AVA_1_2021",
    "REC_AVA_2_2021",
    "REC_AVA_3_2021",
    "REC_AVA_4_2021",
    "PONTO_VIRADA_2021",
    "FASE_2022",
    "TURMA_2022",
    "BOLSISTA_2022",
    "PEDRA_2022",
    "REC_AVA_1_2022",
    "REC_AVA_2_2022",
    "REC_AVA_3_2022",
    "REC_AVA_4_2022",
    "INDICADO_BOLSA_2022",
    "PONTO_VIRADA_2022",
    "FASE_2020",
    "TURMA_2020",
    "FASE_IDEAL_2021",
    "FASE_IDEAL_2022",
], print("colunas com tipo incorreto")

In [468]:
t = [c for c in df.columns if df[c].dtypes == "string"]
assert t == [
    "NOME",
    "DESTAQUE_IEG_2020",
    "DESTAQUE_IDA_2020",
    "DESTAQUE_IPV_2020",
    "DESTAQUE_IEG_2022",
    "DESTAQUE_IDA_2022",
    "DESTAQUE_IPV_2022",
], print("colunas com tipo incorreto")

In [469]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1348 entries, 0 to 1348
Data columns (total 70 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   INSTITUICAO_ENSINO_ALUNO_2020  727 non-null    category
 1   NOME                           1348 non-null   string
 2   IDADE_ALUNO_2020               727 non-null    Int64
 3   ANOS_PM_2020                   727 non-null    Int64
 4   PONTO_VIRADA_2020              701 non-null    category
 5   INDE_2020                      727 non-null    float64
 6   INDE_CONCEITO_2020             727 non-null    category
 7   PEDRA_2020                     727 non-null    category
 8   DESTAQUE_IEG_2020              727 non-null    string
 9   DESTAQUE_IDA_2020              727 non-null    string
 10  DESTAQUE_IPV_2020              703 non-null    string
 11  IAA_2020                       727 non-null    float64
 12  IEG_2020                       727 non-null    float64
 13  IPS_2020                       727 non-null    float64
 14  IDA_2020                       727 non-null    float64
 15  IPP_2020                       727 non-null    float64
 16  IPV_2020                       727 non-null    float64
 17  IAN_2020                       727 non-null    float64
 18  FASE_2021                      686 non-null    category
 19  TURMA_2021                     686 non-null    category
 20  INSTITUICAO_ENSINO_ALUNO_2021  686 non-null    category
 21  SINALIZADOR_INGRESSANTE_2021   686 non-null    category
 22  PEDRA_2021                     686 non-null    category
 23  INDE_2021                      684 non-null    float64
 24  IAA_2021                       686 non-null    float64
 25  IEG_2021                       686 non-null    float64
 26  IPS_2021                       686 non-null    float64
 27  IDA_2021                       686 non-null    float64
 28  IPP_2021                       686 non-null    float64
 29  REC_AVA_1_2021                 686 non-null    category
 30  REC_AVA_2_2021                 686 non-null    category
 31  REC_AVA_3_2021                 686 non-null    category
 32  REC_AVA_4_2021                 686 non-null    category
 33  PONTO_VIRADA_2021              684 non-null    category
 34  IPV_2021                       686 non-null    float64
 35  IAN_2021                       686 non-null    float64
 36  DEFASAGEM_2021                 686 non-null    float64
 37  FASE_2022                      862 non-null    category
 38  TURMA_2022                     862 non-null    category
 39  ANO_INGRESSO_2022              862 non-null    Int64
 40  BOLSISTA_2022                  862 non-null    category
 41  INDE_2022                      862 non-null    float64
 42  CG_2022                        862 non-null    float64
 43  CF_2022                        862 non-null    float64
 44  CT_2022                        862 non-null    float64
 45  PEDRA_2022                     862 non-null    category
 46  DESTAQUE_IEG_2022              862 non-null    string
 47  DESTAQUE_IDA_2022              862 non-null    string
 48  DESTAQUE_IPV_2022              862 non-null    string
 49  IAA_2022                       862 non-null    float64
 50  IEG_2022                       862 non-null    float64
 51  IPS_2022                       862 non-null    float64
 52  IDA_2022                       862 non-null    float64
 53  NOTA_PORT_2022                 860 non-null    float64
 54  NOTA_MAT_2022                  860 non-null    float64
 55  NOTA_ING_2022                  285 non-null    float64
 56  QTD_AVAL_2022                  862 non-null    Int64
 57  IPP_2022                       862 non-null    float64
 58  REC_AVA_1_2022                 862 non-null    category
 59  REC_AVA_2_2022                 862 non-null    category
 60  REC_AVA_3_2022                 626 non-null    category
 61  REC_AVA_4_2022                 285 non-null    category
 62  INDICADO_BOLSA_2022            862 non-null    category
 63  PONTO_VIRADA_2022              862 non-null    category
 64  IPV_2022                       862 non-null    float64
 65  IAN_2022                       862 non-null    float64
 66  FASE_2020                      727 non-null    category
 67  TURMA_2020                     727 non-null    category
 68  FASE_IDEAL_2021                684 non-null    category
 69  FASE_IDEAL_2022                862 non-null    category
dtypes: Int64(4), category(28), float64(31), string(7)
memory usage: 502.7 KB

In [470]:
df.describe()

,IDADE_ALUNO_2020,ANOS_PM_2020,INDE_2020,IAA_2020,IEG_2020,IPS_2020,IDA_2020,IPP_2020,IPV_2020,IAN_2020,...,IEG_2022,IPS_2022,IDA_2022,NOTA_PORT_2022,NOTA_MAT_2022,NOTA_ING_2022,QTD_AVAL_2022,IPP_2022,IPV_2022,IAN_2022
count,727.0,727.0,727.000000,727.000000,727.000000,727.000000,727.000000,727.000000,727.000000,727.000000,...,862.000000,862.000000,862.000000,860.000000,860.000000,285.000000,862.0,862.000000,862.000000,862.000000
mean,12.408528,1.467675,7.296111,8.368882,7.681155,6.737448,6.322260,7.067859,7.242243,7.431224,...,7.880728,6.901102,6.070688,5.796318,6.306628,5.839942,3.056845,6.299364,7.247953,6.421114
std,2.829807,1.131195,1.199925,1.727980,2.382122,1.374011,2.960073,1.988054,1.775110,2.556944,...,1.649023,1.070202,2.059346,2.422292,2.092551,2.992093,0.775806,1.135510,1.098548,2.387816
min,7.0,0.0,3.065001,0.000000,0.000000,2.500000,0.000000,0.000000,0.000000,2.500000,...,0.000000,2.500000,0.000000,0.000000,0.000000,0.000000,2.0,0.000000,2.500010,2.500000
25%,10.0,1.0,6.569584,7.958350,6.600000,5.625000,4.666667,6.953125,6.916665,5.000000,...,6.999971,6.250000,4.750000,4.316667,5.166667,3.500000,2.0,5.625000,6.722220,5.000000
50%,12.0,1.0,7.580834,8.750010,8.500000,7.500000,7.000000,7.500000,7.583335,5.000000,...,8.312179,7.500000,6.333333,6.000000,6.650000,6.266667,3.0,6.250000,7.333335,5.000000
75%,14.0,2.0,8.178960,9.166680,9.500000,7.500000,8.666667,8.125000,8.055557,10.000000,...,9.102970,7.500000,7.583333,7.833333,7.833333,8.500000,4.0,7.031250,7.916665,10.000000
max,20.0,4.0,9.712504,10.000020,10.000000,10.000000,10.000000,10.000000,10.000010,10.000000,...,10.000000,10.000000,9.916667,10.000000,10.000000,10.000000,4.0,9.218750,10.000010,10.000000

## Escreve o arquivo após a primeira etapa de limpeza e tratamento dos dados

In [471]:
df.to_parquet("data/data_clean_0.parquet")

# Análise com os dados empilhados (recortes temporais 2020,2021,2022)

In [472]:
df = pd.read_parquet("data/data_clean_0.parquet")
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1348 entries, 0 to 1348
Data columns (total 70 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   INSTITUICAO_ENSINO_ALUNO_2020  727 non-null    category
 1   NOME                           1348 non-null   string
 2   IDADE_ALUNO_2020               727 non-null    Int64
 3   ANOS_PM_2020                   727 non-null    Int64
 4   PONTO_VIRADA_2020              701 non-null    float64
 5   INDE_2020                      727 non-null    float64
 6   INDE_CONCEITO_2020             727 non-null    category
 7   PEDRA_2020                     727 non-null    category
 8   DESTAQUE_IEG_2020              727 non-null    string
 9   DESTAQUE_IDA_2020              727 non-null    string
 10  DESTAQUE_IPV_2020              703 non-null    string
 11  IAA_2020                       727 non-null    float64
 12  IEG_2020                       727 non-null    float64
 13  IPS_2020                       727 non-null    float64
 14  IDA_2020                       727 non-null    float64
 15  IPP_2020                       727 non-null    float64
 16  IPV_2020                       727 non-null    float64
 17  IAN_2020                       727 non-null    float64
 18  FASE_2021                      686 non-null    category
 19  TURMA_2021                     686 non-null    category
 20  INSTITUICAO_ENSINO_ALUNO_2021  686 non-null    category
 21  SINALIZADOR_INGRESSANTE_2021   686 non-null    category
 22  PEDRA_2021                     686 non-null    category
 23  INDE_2021                      684 non-null    float64
 24  IAA_2021                       686 non-null    float64
 25  IEG_2021                       686 non-null    float64
 26  IPS_2021                       686 non-null    float64
 27  IDA_2021                       686 non-null    float64
 28  IPP_2021                       686 non-null    float64
 29  REC_AVA_1_2021                 686 non-null    category
 30  REC_AVA_2_2021                 686 non-null    category
 31  REC_AVA_3_2021                 686 non-null    category
 32  REC_AVA_4_2021                 686 non-null    category
 33  PONTO_VIRADA_2021              684 non-null    float64
 34  IPV_2021                       686 non-null    float64
 35  IAN_2021                       686 non-null    float64
 36  DEFASAGEM_2021                 686 non-null    float64
 37  FASE_2022                      862 non-null    category
 38  TURMA_2022                     862 non-null    category
 39  ANO_INGRESSO_2022              862 non-null    Int64
 40  BOLSISTA_2022                  862 non-null    float64
 41  INDE_2022                      862 non-null    float64
 42  CG_2022                        862 non-null    float64
 43  CF_2022                        862 non-null    float64
 44  CT_2022                        862 non-null    float64
 45  PEDRA_2022                     862 non-null    category
 46  DESTAQUE_IEG_2022              862 non-null    string
 47  DESTAQUE_IDA_2022              862 non-null    string
 48  DESTAQUE_IPV_2022              862 non-null    string
 49  IAA_2022                       862 non-null    float64
 50  IEG_2022                       862 non-null    float64
 51  IPS_2022                       862 non-null    float64
 52  IDA_2022                       862 non-null    float64
 53  NOTA_PORT_2022                 860 non-null    float64
 54  NOTA_MAT_2022                  860 non-null    float64
 55  NOTA_ING_2022                  285 non-null    float64
 56  QTD_AVAL_2022                  862 non-null    Int64
 57  IPP_2022                       862 non-null    float64
 58  REC_AVA_1_2022                 862 non-null    category
 59  REC_AVA_2_2022                 862 non-null    category
 60  REC_AVA_3_2022                 626 non-null    category
 61  REC_AVA_4_2022                 285 non-null    category
 62  INDICADO_BOLSA_2022            862 non-null    float64
 63  PONTO_VIRADA_2022              862 non-null    float64
 64  IPV_2022                       862 non-null    float64
 65  IAN_2022                       862 non-null    float64
 66  FASE_2020                      727 non-null    category
 67  TURMA_2020                     727 non-null    category
 68  FASE_IDEAL_2021                684 non-null    category
 69  FASE_IDEAL_2022                862 non-null    category
dtypes: Int64(4), category(23), float64(36), string(7)
memory usage: 548.1 KB

## Separa os dataframes por ano e atribui uma coluna para marcar o ano - dados empilhados

In [473]:
# seleciona as colunas de acordo com o ano de referência e cria um dataframe para cada ano com as respectivas colunas
dfs = []

for y in [2020, 2021, 2022]:
    df_t = pd.DataFrame({"ANO": y, "NOME": df["NOME"]})
    df_t = pd.concat([df_t, df[[c for c in df.columns if c.endswith(str(y))]]], axis=1)
    colnames = df_t.columns
    new_colnames = [c.split(str(f"_{y}"))[0] for c in colnames]
    df_t.columns = new_colnames
    dfs.append(df_t)

In [474]:
[print(f"columns: {d.columns}; shape: {d.shape} \n") for d in dfs]

columns: Index(['ANO', 'NOME', 'INSTITUICAO_ENSINO_ALUNO', 'IDADE_ALUNO', 'ANOS_PM',
       'PONTO_VIRADA', 'INDE', 'INDE_CONCEITO', 'PEDRA', 'DESTAQUE_IEG',
       'DESTAQUE_IDA', 'DESTAQUE_IPV', 'IAA', 'IEG', 'IPS', 'IDA', 'IPP',
       'IPV', 'IAN', 'FASE', 'TURMA'],
      dtype='object'); shape: (1348, 21)

columns: Index(['ANO', 'NOME', 'FASE', 'TURMA', 'INSTITUICAO_ENSINO_ALUNO',
       'SINALIZADOR_INGRESSANTE', 'PEDRA', 'INDE', 'IAA', 'IEG', 'IPS', 'IDA',
       'IPP', 'REC_AVA_1', 'REC_AVA_2', 'REC_AVA_3', 'REC_AVA_4',
       'PONTO_VIRADA', 'IPV', 'IAN', 'DEFASAGEM', 'FASE_IDEAL'],
      dtype='object'); shape: (1348, 22)

columns: Index(['ANO', 'NOME', 'FASE', 'TURMA', 'ANO_INGRESSO', 'BOLSISTA', 'INDE',
       'CG', 'CF', 'CT', 'PEDRA', 'DESTAQUE_IEG', 'DESTAQUE_IDA',
       'DESTAQUE_IPV', 'IAA', 'IEG', 'IPS', 'IDA', 'NOTA_PORT', 'NOTA_MAT',
       'NOTA_ING', 'QTD_AVAL', 'IPP', 'REC_AVA_1', 'REC_AVA_2', 'REC_AVA_3',
       'REC_AVA_4', 'INDICADO_BOLSA', 'PONTO_VIRADA', 'IPV', 'IAN',
       'FASE_IDEAL'],
      dtype='object'); shape: (1348, 32)

[None, None, None]

In [475]:
df_pooled = pd.DataFrame()
df_pooled = pd.concat(dfs)
df_pooled.info()

assert len(df_pooled) == len(df) * 3, print("dataframes com dimensoes diferentes")

<class 'pandas.core.frame.DataFrame'>
Index: 4044 entries, 0 to 1348
Data columns (total 38 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ANO                       4044 non-null   int64
 1   NOME                      4044 non-null   string
 2   INSTITUICAO_ENSINO_ALUNO  1413 non-null   object
 3   IDADE_ALUNO               727 non-null    Int64
 4   ANOS_PM                   727 non-null    Int64
 5   PONTO_VIRADA              2247 non-null   float64
 6   INDE                      2273 non-null   float64
 7   INDE_CONCEITO             727 non-null    category
 8   PEDRA                     2275 non-null   object
 9   DESTAQUE_IEG              1589 non-null   string
 10  DESTAQUE_IDA              1589 non-null   string
 11  DESTAQUE_IPV              1565 non-null   string
 12  IAA                       2275 non-null   float64
 13  IEG                       2275 non-null   float64
 14  IPS                       2275 non-null   float64
 15  IDA                       2275 non-null   float64
 16  IPP                       2275 non-null   float64
 17  IPV                       2275 non-null   float64
 18  IAN                       2275 non-null   float64
 19  FASE                      2275 non-null   object
 20  TURMA                     2275 non-null   object
 21  SINALIZADOR_INGRESSANTE   686 non-null    category
 22  REC_AVA_1                 1548 non-null   category
 23  REC_AVA_2                 1548 non-null   object
 24  REC_AVA_3                 1312 non-null   object
 25  REC_AVA_4                 971 non-null    object
 26  DEFASAGEM                 686 non-null    float64
 27  FASE_IDEAL                1546 non-null   category
 28  ANO_INGRESSO              862 non-null    Int64
 29  BOLSISTA                  862 non-null    float64
 30  CG                        862 non-null    float64
 31  CF                        862 non-null    float64
 32  CT                        862 non-null    float64
 33  NOTA_PORT                 860 non-null    float64
 34  NOTA_MAT                  860 non-null    float64
 35  NOTA_ING                  285 non-null    float64
 36  QTD_AVAL                  862 non-null    Int64
 37  INDICADO_BOLSA            862 non-null    float64
dtypes: Int64(4), category(4), float64(18), int64(1), object(7), string(4)
memory usage: 1.1+ MB

In [476]:
df_pooled.to_parquet("data/data_pooled_0.parquet")

##

In [49]:
dfs = []
for y in ["2020", "2021", "2022"]:
    df_new = (
        ((df_pl.select(["NOME", cs.matches(y)]).with_columns(pl.select(cs.matches(y)))))
        .select(pl.all())
        .rename(lambda c: re.sub(r"_\d+$", "", c))
    )
    df_new.insert_column(
        0, pl.Series("ANO", pl.repeat(y, n=len(df_new), dtype=pl.Int32, eager=True))
    )

    dfs.append(df_new)

dfs

[shape: (1_348, 21)
 ┌──────┬────────────┬─────────────────────────┬─────────────┬───┬──────────┬──────┬────────┬───────┐
 │ ANO  ┆ NOME       ┆ INSTITUICAO_ENSINO_ALUN ┆ IDADE_ALUNO ┆ … ┆ IPV      ┆ IAN  ┆ FASE   ┆ TURMA │
 │ ---  ┆ ---        ┆ O                       ┆ ---         ┆   ┆ ---      ┆ ---  ┆ ---    ┆ ---   │
 │ i32  ┆ str        ┆ ---                     ┆ i64         ┆   ┆ f64      ┆ f64  ┆ cat    ┆ cat   │
 │      ┆            ┆ cat                     ┆             ┆   ┆          ┆      ┆        ┆       │
 ╞══════╪════════════╪═════════════════════════╪═════════════╪═══╪══════════╪══════╪════════╪═══════╡
 │ 2020 ┆ ALUNO-1    ┆ Escola Pública          ┆ 11          ┆ … ┆ 7.75     ┆ 10.0 ┆ Fase 2 ┆ H     │
 │ 2020 ┆ ALUNO-2    ┆ null                    ┆ null        ┆ … ┆ null     ┆ null ┆ null   ┆ null  │
 │ 2020 ┆ ALUNO-3    ┆ Escola Pública          ┆ 12          ┆ … ┆ 8.111113 ┆ 10.0 ┆ Fase 3 ┆ H     │
 │ 2020 ┆ ALUNO-4    ┆ Escola Pública          ┆ 10          ┆ … ┆ 7.75     ┆ 5.0  ┆ Fase 1 ┆ D     │
 │ 2020 ┆ ALUNO-5    ┆ Escola Pública          ┆ 10          ┆ … ┆ 8.166665 ┆ 10.0 ┆ Fase 2 ┆ M     │
 │ …    ┆ …          ┆ …                       ┆ …           ┆ … ┆ …        ┆ …    ┆ …      ┆ …     │
 │ 2020 ┆ ALUNO-1345 ┆ null                    ┆ null        ┆ … ┆ null     ┆ null ┆ null   ┆ null  │
 │ 2020 ┆ ALUNO-1346 ┆ null                    ┆ null        ┆ … ┆ null     ┆ null ┆ null   ┆ null  │
 │ 2020 ┆ ALUNO-1347 ┆ Escola Pública          ┆ 17          ┆ … ┆ 6.333335 ┆ 10.0 ┆ Fase 7 ┆ B     │
 │ 2020 ┆ ALUNO-1348 ┆ Escola Pública          ┆ 13          ┆ … ┆ 9.11112  ┆ 10.0 ┆ Fase 3 ┆ R     │
 │ 2020 ┆ ALUNO-1349 ┆ null                    ┆ null        ┆ … ┆ null     ┆ null ┆ null   ┆ null  │
 └──────┴────────────┴─────────────────────────┴─────────────┴───┴──────────┴──────┴────────┴───────┘,
 shape: (1_348, 22)
 ┌──────┬────────────┬────────┬───────┬───┬──────┬──────┬───────────┬────────────┐
 │ ANO  ┆ NOME       ┆ FASE   ┆ TURMA ┆ … ┆ IPV  ┆ IAN  ┆ DEFASAGEM ┆ FASE_IDEAL │
 │ ---  ┆ ---        ┆ ---    ┆ ---   ┆   ┆ ---  ┆ ---  ┆ ---       ┆ ---        │
 │ i32  ┆ str        ┆ cat    ┆ cat   ┆   ┆ f64  ┆ f64  ┆ f64       ┆ cat        │
 ╞══════╪════════════╪════════╪═══════╪═══╪══════╪══════╪═══════════╪════════════╡
 │ 2021 ┆ ALUNO-1    ┆ Fase 2 ┆ G     ┆ … ┆ 8.1  ┆ 5.0  ┆ -1.0      ┆ Fase 3     │
 │ 2021 ┆ ALUNO-2    ┆ null   ┆ null  ┆ … ┆ null ┆ null ┆ null      ┆ null       │
 │ 2021 ┆ ALUNO-3    ┆ Fase 3 ┆ F     ┆ … ┆ 7.2  ┆ 10.0 ┆ 0.0       ┆ Fase 3     │
 │ 2021 ┆ ALUNO-4    ┆ null   ┆ null  ┆ … ┆ null ┆ null ┆ null      ┆ null       │
 │ 2021 ┆ ALUNO-5    ┆ Fase 2 ┆ L     ┆ … ┆ 7.4  ┆ 10.0 ┆ 0.0       ┆ Fase 2     │
 │ …    ┆ …          ┆ …      ┆ …     ┆ … ┆ …    ┆ …    ┆ …         ┆ …          │
 │ 2021 ┆ ALUNO-1345 ┆ ALFA   ┆ L     ┆ … ┆ 7.1  ┆ 5.0  ┆ -1.0      ┆ Fase 1     │
 │ 2021 ┆ ALUNO-1346 ┆ null   ┆ null  ┆ … ┆ null ┆ null ┆ null      ┆ null       │
 │ 2021 ┆ ALUNO-1347 ┆ null   ┆ null  ┆ … ┆ null ┆ null ┆ null      ┆ null       │
 │ 2021 ┆ ALUNO-1348 ┆ Fase 3 ┆ J     ┆ … ┆ 8.5  ┆ 5.0  ┆ -1.0      ┆ Fase 4     │
 │ 2021 ┆ ALUNO-1349 ┆ null   ┆ null  ┆ … ┆ null ┆ null ┆ null      ┆ null       │
 └──────┴────────────┴────────┴───────┴───┴──────┴──────┴───────────┴────────────┘,
 shape: (1_348, 32)
 ┌──────┬────────────┬────────┬───────┬───┬──────────────┬───────────┬──────┬────────────┐
 │ ANO  ┆ NOME       ┆ FASE   ┆ TURMA ┆ … ┆ PONTO_VIRADA ┆ IPV       ┆ IAN  ┆ FASE_IDEAL │
 │ ---  ┆ ---        ┆ ---    ┆ ---   ┆   ┆ ---          ┆ ---       ┆ ---  ┆ ---        │
 │ i32  ┆ str        ┆ cat    ┆ cat   ┆   ┆ f64          ┆ f64       ┆ f64  ┆ cat        │
 ╞══════╪════════════╪════════╪═══════╪═══╪══════════════╪═══════════╪══════╪════════════╡
 │ 2022 ┆ ALUNO-1    ┆ null   ┆ null  ┆ … ┆ null         ┆ null      ┆ null ┆ null       │
 │ 2022 ┆ ALUNO-2    ┆ ALFA   ┆ K     ┆ … ┆ 0.0          ┆ 7.916665  ┆ 5.0  ┆ Fase 2     │
 │ 2022 ┆ ALUNO-3    ┆ null   ┆ null  ┆ … ┆ null         ┆ null      ┆ null ┆ null       │
 │ 2022 ┆ ALUNO-4    ┆ Fase 2 ┆ J     ┆ … ┆ 0.0          ┆ 8.055553  ┆ 5.0  ┆ Fase 3     │
 │ 2022 ┆ ALUNO-5    ┆ Fase 2 ┆ L     ┆ … ┆ 0.0          ┆ 7.833337  ┆ 5.0  ┆ Fase 3     │
 │ …    ┆ …          ┆ …      ┆ …     ┆ … ┆ …            ┆ …         ┆ …    ┆ …          │
 │ 2022 ┆ ALUNO-1345 ┆ null   ┆ null  ┆ … ┆ null         ┆ null      ┆ null ┆ null       │
 │ 2022 ┆ ALUNO-1346 ┆ ALFA   ┆ U     ┆ … ┆ 1.0          ┆ 9.08334   ┆ 5.0  ┆ Fase 1     │
 │ 2022 ┆ ALUNO-1347 ┆ null   ┆ null  ┆ … ┆ null         ┆ null      ┆ null ┆ null       │
 │ 2022 ┆ ALUNO-1348 ┆ Fase 4 ┆ P     ┆ … ┆ 0.0          ┆ 5.8333275 ┆ 5.0  ┆ Fase 5     │
 │ 2022 ┆ ALUNO-1349 ┆ Fase 3 ┆ M     ┆ … ┆ 0.0          ┆ 5.9999925 ┆ 5.0  ┆ Fase 5     │
 └──────┴────────────┴────────┴───────┴───┴──────────────┴───────────┴──────┴────────────┘]

## Realiza o empilhamento somente nas colunas coincidentes para uma primeira análise

In [50]:
[print(f"{df.schema}\n") for df in dfs]

Schema({'ANO': Int32, 'NOME': String, 'INSTITUICAO_ENSINO_ALUNO': Categorical(ordering='physical'), 'IDADE_ALUNO': Int64, 'ANOS_PM': Int64, 'PONTO_VIRADA': Float64, 'INDE': Float64, 'INDE_CONCEITO': Categorical(ordering='physical'), 'PEDRA': Categorical(ordering='physical'), 'DESTAQUE_IEG': String, 'DESTAQUE_IDA': String, 'DESTAQUE_IPV': String, 'IAA': Float64, 'IEG': Float64, 'IPS': Float64, 'IDA': Float64, 'IPP': Float64, 'IPV': Float64, 'IAN': Float64, 'FASE': Categorical(ordering='physical'), 'TURMA': Categorical(ordering='physical')})

Schema({'ANO': Int32, 'NOME': String, 'FASE': Categorical(ordering='physical'), 'TURMA': Categorical(ordering='physical'), 'INSTITUICAO_ENSINO_ALUNO': Categorical(ordering='physical'), 'SINALIZADOR_INGRESSANTE': Categorical(ordering='physical'), 'PEDRA': Categorical(ordering='physical'), 'INDE': Float64, 'IAA': Float64, 'IEG': Float64, 'IPS': Float64, 'IDA': Float64, 'IPP': Float64, 'REC_EQUIPE_1': Categorical(ordering='physical'), 'REC_EQUIPE_2': Categorical(ordering='physical'), 'REC_EQUIPE_3': Categorical(ordering='physical'), 'REC_EQUIPE_4': Categorical(ordering='physical'), 'PONTO_VIRADA': Float64, 'IPV': Float64, 'IAN': Float64, 'DEFASAGEM': Float64, 'FASE_IDEAL': Categorical(ordering='physical')})

Schema({'ANO': Int32, 'NOME': String, 'FASE': Categorical(ordering='physical'), 'TURMA': Categorical(ordering='physical'), 'ANO_INGRESSO': Int64, 'BOLSISTA': Float64, 'INDE': Float64, 'CG': Float64, 'CF': Float64, 'CT': Float64, 'PEDRA': Categorical(ordering='physical'), 'DESTAQUE_IEG': String, 'DESTAQUE_IDA': String, 'DESTAQUE_IPV': String, 'IAA': Float64, 'IEG': Float64, 'IPS': Float64, 'IDA': Float64, 'NOTA_PORT': Float64, 'NOTA_MAT': Float64, 'NOTA_ING': Float64, 'QTD_AVAL': Int64, 'IPP': Float64, 'REC_AVA_1': Categorical(ordering='physical'), 'REC_AVA_2': Categorical(ordering='physical'), 'REC_AVA_3': Categorical(ordering='physical'), 'REC_AVA_4': Categorical(ordering='physical'), 'INDICADO_BOLSA': Float64, 'PONTO_VIRADA': Float64, 'IPV': Float64, 'IAN': Float64, 'FASE_IDEAL': Categorical(ordering='physical')})

[None, None, None]

In [51]:
pl.concat([dfs[0], dfs[1]], how="diagonal")

/var/folders/kp/sr6lvhb16131kyr7jp9mwlyw0000gn/T/ipykernel_76549/4040839104.py:1: CategoricalRemappingWarning: Local categoricals have different encodings, expensive re-encoding is done to perform this merge operation. Consider using a StringCache or an Enum type if the categories are known in advance
  pl.concat([dfs[0], dfs[1]], how="diagonal")

shape: (2_696, 28)
┌──────┬────────────┬────────────┬────────────┬───┬────────────┬───────────┬───────────┬───────────┐
│ ANO  ┆ NOME       ┆ INSTITUICA ┆ IDADE_ALUN ┆ … ┆ REC_EQUIPE ┆ REC_EQUIP ┆ DEFASAGEM ┆ FASE_IDEA │
│ ---  ┆ ---        ┆ O_ENSINO_A ┆ O          ┆   ┆ _3         ┆ E_4       ┆ ---       ┆ L         │
│ i32  ┆ str        ┆ LUNO       ┆ ---        ┆   ┆ ---        ┆ ---       ┆ f64       ┆ ---       │
│      ┆            ┆ ---        ┆ i64        ┆   ┆ cat        ┆ cat       ┆           ┆ cat       │
│      ┆            ┆ cat        ┆            ┆   ┆            ┆           ┆           ┆           │
╞══════╪════════════╪════════════╪════════════╪═══╪════════════╪═══════════╪═══════════╪═══════════╡
│ 2020 ┆ ALUNO-1    ┆ Escola     ┆ 11         ┆ … ┆ null       ┆ null      ┆ null      ┆ null      │
│      ┆            ┆ Pública    ┆            ┆   ┆            ┆           ┆           ┆           │
│ 2020 ┆ ALUNO-2    ┆ null       ┆ null       ┆ … ┆ null       ┆ null      ┆ null      ┆ null      │
│ 2020 ┆ ALUNO-3    ┆ Escola     ┆ 12         ┆ … ┆ null       ┆ null      ┆ null      ┆ null      │
│      ┆            ┆ Pública    ┆            ┆   ┆            ┆           ┆           ┆           │
│ 2020 ┆ ALUNO-4    ┆ Escola     ┆ 10         ┆ … ┆ null       ┆ null      ┆ null      ┆ null      │
│      ┆            ┆ Pública    ┆            ┆   ┆            ┆           ┆           ┆           │
│ 2020 ┆ ALUNO-5    ┆ Escola     ┆ 10         ┆ … ┆ null       ┆ null      ┆ null      ┆ null      │
│      ┆            ┆ Pública    ┆            ┆   ┆            ┆           ┆           ┆           │
│ …    ┆ …          ┆ …          ┆ …          ┆ … ┆ …          ┆ …         ┆ …         ┆ …         │
│ 2021 ┆ ALUNO-1345 ┆ Escola     ┆ null       ┆ … ┆ Não        ┆ Não       ┆ -1.0      ┆ Fase 1    │
│      ┆            ┆ Pública    ┆            ┆   ┆ avaliado   ┆ avaliado  ┆           ┆           │
│ 2021 ┆ ALUNO-1346 ┆ null       ┆ null       ┆ … ┆ null       ┆ null      ┆ null      ┆ null      │
│ 2021 ┆ ALUNO-1347 ┆ null       ┆ null       ┆ … ┆ null       ┆ null      ┆ null      ┆ null      │
│ 2021 ┆ ALUNO-1348 ┆ Rede       ┆ null       ┆ … ┆ Promovido  ┆ Não       ┆ -1.0      ┆ Fase 4    │
│      ┆            ┆ Decisão    ┆            ┆   ┆ de Fase    ┆ avaliado  ┆           ┆           │
│ 2021 ┆ ALUNO-1349 ┆ null       ┆ null       ┆ … ┆ null       ┆ null      ┆ null      ┆ null      │
└──────┴────────────┴────────────┴────────────┴───┴────────────┴───────────┴───────────┴───────────┘

shape: (5, 20)
┌──────┬─────────┬────────────────────┬─────────────┬───┬──────┬────────┬───────────────────┬──────┐
│ ANO  ┆ NOME    ┆ INSTITUICAO_ENSINO ┆ IDADE_ALUNO ┆ … ┆ IDA  ┆ IPP    ┆ IPV               ┆ IAN  │
│ ---  ┆ ---     ┆ _ALUNO             ┆ ---         ┆   ┆ ---  ┆ ---    ┆ ---               ┆ ---  │
│ i32  ┆ str     ┆ ---                ┆ str         ┆   ┆ str  ┆ str    ┆ str               ┆ str  │
│      ┆         ┆ str                ┆             ┆   ┆      ┆        ┆                   ┆      │
╞══════╪═════════╪════════════════════╪═════════════╪═══╪══════╪════════╪═══════════════════╪══════╡
│ 2020 ┆ ALUNO-1 ┆ Escola Pública     ┆ 11          ┆ … ┆ 7    ┆ 5.9375 ┆ 7.75              ┆ 10   │
│ 2020 ┆ ALUNO-2 ┆ null               ┆ null        ┆ … ┆ null ┆ null   ┆ null              ┆ null │
│ 2020 ┆ ALUNO-3 ┆ Escola Pública     ┆ 12          ┆ … ┆ 5.5  ┆ 8.125  ┆ 8.111113333333334 ┆ 10   │
│ 2020 ┆ ALUNO-4 ┆ Escola Pública     ┆ 10          ┆ … ┆ 0    ┆ 7.1875 ┆ 7.75              ┆ 5    │
│ 2020 ┆ ALUNO-5 ┆ Escola Pública     ┆ 10          ┆ … ┆ 7.5  ┆ 8.4375 ┆ 8.166665          ┆ 10   │
└──────┴─────────┴────────────────────┴─────────────┴───┴──────┴────────┴───────────────────┴──────┘

In [ ]:
df